[ { "name": "void",
    "files": [ "poi.c" ],
    "main": "poi_void" },
 { "name": "return_int",
    "files": [ "poi.c" ],
    "main": "poi_return_int" },
 { "name": "return_string",
    "files": [ "poi.c" ],
    "main": "poi_return_string" },
 { "name": "exit",
    "files": [ "poi.c" ],
    "main": "poi_exit" },
 { "name": "abort",
    "files": [ "poi.c" ],
    "main": "poi_abort" }
]
